* {
  box-sizing: border-box;
}
:root {
  --bg-color: 246, 249, 248;
  --board-color: 253, 253, 253;
  --circle-svg: url(./assets/circle.svg);
  --cross-svg: url(./assets/cross.svg);
}
body {
  margin: 0;
  width: 100vw;
  height: 100vh;
}
.container {
  background-color: rgba(var(--bg-color));
  z-index: 1;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.box {
  width: 300px;
  height: 300px;
  display: flex;
  position: relative;
  flex-wrap: wrap;
  align-items: stretch;
  justify-items: stretch;
  padding: 1.25rem;
  border-radius: 1rem;

  background-color: rgba(var(--board-color));
  box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
}

.column {
  width: 33.3%;
}
.cell {
  border: 2px solid rgba(0, 0, 0, 0.1);
  height: 33.3%;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  padding: 0.75em;
}

.column:first-child .cell {
  width: auto;
  border-left: none;
  border-top: none;
  border-right: none;
}
.column:first-child .cell:last-child {
  border-bottom: none;
}
.cell:first-child {
  border-top: none;
}

.column:nth-child(2) .cell {
  width: auto;
  border-top: none;
}
.column:nth-child(2) .cell:last-child {
  width: auto;
  border-bottom: none;
}

.column:last-child .cell {
  width: auto;
  border-left: none;
  border-top: none;
  border-right: none;
}
.column:last-child .cell:last-child {
  border-bottom: none;
}
.cell.circle {
  content: var(--circle-svg);
}

.cell.cross {
  content: var(--cross-svg);
}

.modal {
  position: absolute;
  display: none;
  justify-content: center;
  align-items: center;
  z-index: 1;
  width: 100%;
  height: 100%;
  background-color: rgb(0, 0, 0);
  background-color: rgba(0, 0, 0, 0.4);
}
.modal .restart-button {
  border-radius: 1rem;
  border: none;
  padding: 2rem 5rem;
  cursor: pointer;
}
.modal .restart-button:hover {
  background-color: rgba(0, 0, 0, 0.6);
}
